* {
    margin: 0%;
    padding: 0%;
}

.navbarmain {
    /* color: white !important; */
    background-color: #3c6382;
}

.logo {
    text-decoration: none;
    color: white !important;
    margin-left: 5vw;
    font-size: 30px;
    font-weight: lighter;
}

.navigator {
    margin-left: 20vw;
    font-size: 20px;
}

.navigate {
    text-decoration: none;
    color: white !important;
    padding: 0 2vw !important;
}

.loginbutton {
    margin-right: 5vw;
    width: 8vw;
    font-size: 15px;
}